<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="btn btn-primary m-3" routerLink="/">Projects</a></li>
        <li role="presentation" routerLinkActive="active"><a class="btn btn-primary m-3" routerLink="/users">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- transition : cambiar de un estado a otro, de rojo a verde-->

<!-- A B 3s -->

<!-- ease-out (start fast, end slow): A -------- 2s -- 3s B -->
<!-- ease-in (start slow, end fast): A -- 1s -------- 3s B -->
<!-- linear (constant speed): A ---------- 3s B -->
